<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Buscar"></Label>
</ActionBar>

<StackLayout>
    <Label class="h3 text-center m-y-10" text="Aplicaciones Moviles"></Label> // #B
    <Image src="~/images/home.png"></Image>
    <Label class="fondo footnote text-center m-y-10" text="Copyright ©2019"></Label> // #B
    
<StackLayout class="page page-content" #layout>
    <SearchForm (search)="buscarAhora($event)" [inicial]="'Hola'"></SearchForm>
        <PullToRefresh (refresh)="onPull($event)">
                <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)">
                <ng-template let-x="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image src="res://icon" class="thumb img-circle" style="width: 25%"></Image>
                    <Label class="texto" [text]="x" class="list-group-item-heading" style="width: 100%"> </Label>                
                    <Button text="Borrar" class="btn" (tap)="onDelete(x)" style="width: 25%"></Button>
                    <Button text="Detalle" class="btn" (tap)="onDetalle(x)" style="width: 25%" ></Button>
                    <Image src="res://icon" class="thumb img-circle" (longPress)="onLongPress(x)" style="width: 25%"></Image>
                </FlexboxLayout>
                </ng-template>
                </ListView>
                </PullToRefresh>
    </StackLayout>
</StackLayout>
